# Server Configuration
PORT=3000
MODE=DEV
ALLOW_ORIGINS=http://localhost:3000,http://localhost:4000
FRONTEND_URL=http://localhost:5173

# Database Configuration
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=12345
POSTGRES_DATABASE=nestjs-starter-kit


# JWT Configuration
AUTH_JWT_SECRET="pRojEct2025_nestjs_starter_kit"
AUTH_TOKEN_COOKIE_NAME="NestjsStartKit"
AUTH_TOKEN_EXPIRE_TIME=24h
AUTH_TOKEN_EXPIRED_TIME_REMEMBER_ME=30d
AUTH_REFRESH_TOKEN_COOKIE_NAME="StarterRefreshToken"
AUTH_REFRESH_TOKEN_EXPIRE_TIME=7d

# AWS S3 Configuration (if used)
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET=
AWS_REGION=

#MAIL development
MAIL_PORT=587
MAIL_HOST=smtp.gmail.com
MAIL_FROM=dev@potentialai.com
GOOGLE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your-google-client-secret
GOOGLE_CLIENT_REFRESH_TOKEN=your-google-refresh-token
GOOGLE_CLIENT_ACCESS_TOKEN=your-google-access-token

#apple
APPLE_TEAM_ID=demo-apple-team-id
APPLE_CLIENT_ID=demo-apple-client-id
APPLE_KEY_ID=demo-apple-key-id
APPLE_PRIVATE_KEY=demo-apple-private-key

# Map API Keys (if integrating)
NAVER_MAP_CLIENT_ID=
NAVER_MAP_CLIENT_SECRET=
KAKAO_REST_API_KEY=
TMAP_APP_KEY=

# Toss Payments configuration
TOSS_CLIENT_ID=your-toss-client-id
TOSS_SECRET_KEY=your-toss-secret-key
TOSS_BASE_URL="https://api.tosspayments.com"
TOSS_WEBHOOK_SECRET=your-toss-webhook-secret

# push notification
PROJECT_ID="your-firebase-project-id"
PRIVATE_KEY_ID="your-firebase-private-key-id"
PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nyour-firebase-private-key\n-----END PRIVATE KEY-----\n"
CLIENT_EMAIL="your-firebase-client-email@your-project.iam.gserviceaccount.com"
